<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="obs.Properties.Settings.obsConnectionString" connectionString="Data Source=DESKTOP-0MADKNC;Initial Catalog=obs;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="obs.Properties.Settings.obsConnectionString1" connectionString="Data Source=DESKTOP-0MADKNC\SQLEXPRESS;Initial Catalog=obs;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
